html,
.body {
  height: 100%;
}

.body {
  padding-top: 0px;
  padding-bottom:0px;
  background-color: #f5f5f5;
}
.img{
    height: 50px;
}
.formLogin{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.img{
  max-width: 100%;
  height: auto;
border-radius: 8px;
}